div.dtmf-controls {
    display: grid;
    grid-gap: 0.3em;
    margin: 0.5em;
    width: fit-content;
}
div.dtmf-controls.full  {
    grid-template-columns: repeat(4, 2em);
    grid-template-rows: repeat(4, 2em);
}
div.dtmf-controls.standard  {
    grid-template-columns: repeat(3, 2em);
    grid-template-rows: repeat(4, 2em);
}

div.dtmf-controls > button {
    color: rgb(215, 215, 215);
    border-radius: 50%;
    border: 0;
    font-family: monospace;
    line-height: 2em;
    vertical-align: super;
    transition: background-color 200ms, box-shadow 100ms;
    font-weight: bolder;
    box-shadow: 0 0 3px 2px #000000;
}

div.dtmf-controls > button:hover {
    box-shadow: 0 0 5px 3px #000000;
}

div.dtmf-controls > button:active {
    color: rgb(255, 255, 255);
}

div.dtmf-controls > button.digit {
    background-color: rgb(61, 61, 61);
}

div.dtmf-controls > button.digit:hover {
    background-color: rgb(100, 100, 100);
}

div.dtmf-controls > button.control {
    background-color: rgb(31, 68, 0);
}

div.dtmf-controls > button.control:hover {
    background-color: rgb(59, 128, 0);
}

div.dtmf-controls > button.letter {
    background-color: rgb(66, 0, 0);
}

div.dtmf-controls > button.letter:hover {
    background-color: rgb(124, 0, 0);
}
