html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

div.dtmf-controls {
    display: grid;
}
div.dtmf-controls.full  {
    grid-template-columns: repeat(4, 2em);
    grid-template-rows: repeat(4, 2em);
}
div.dtmf-controls.standard  {
    grid-template-columns: repeat(3, 2em);
    grid-template-rows: repeat(4, 2em);
}

div.dtmf-controls > button {

}
