div.button-container {
    display: inline-block;
    position: relative;
}

div.call-controls {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    width: fit-content;
    overflow: hidden;
    padding: 6px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

div.call-controls.positioned {
    position: absolute;
    left: 0;
    top: 0;
}

div.call-controls:not(.positioned) {
    margin: 0.5em;
}

div.call-controls button {
    color: hsl(0, 0%, 84%);
    fill: hsl(0, 0%, 84%);
    text-align: center;
}

div.call-controls button:active {
    color: hsl(0, 0%, 100%);
    fill: hsl(0, 0%, 100%);
}

div.call-controls button:hover {
    cursor: pointer;
}

div.call-controls > div.dtmf-controls {
    display: grid;
    grid-gap: 6px;
    width: fit-content;
    margin: 0 auto;
}
div.call-controls > div.dtmf-controls.full  {
    grid-template-columns: repeat(4, 2em);
    grid-template-rows: repeat(4, 2em);
}
div.call-controls > div.dtmf-controls.standard  {
    grid-template-columns: repeat(3, 2em);
    grid-template-rows: repeat(4, 2em);
}

div.call-controls > div.dtmf-controls > button {
    border-radius: 50%;
    border: 0;
    font-family: monospace;
    line-height: 2em;
    vertical-align: super;
    transition: background-color 200ms, box-shadow 100ms;
    font-weight: bolder;
}

div.call-controls > div.dtmf-controls > button.digit {
    background-color: hsl(0, 0%, 24%);
}

div.call-controls > div.dtmf-controls > button.digit:hover {
    background-color: hsl(0, 0%, 39%);
}

div.call-controls > div.dtmf-controls > button.control {
    background-color: hsl(93, 100%, 13%);
}

div.call-controls > div.dtmf-controls > button.control:hover {
    background-color: hsl(93, 100%, 25%);
}

div.call-controls > div.dtmf-controls > button.letter {
    background-color: hsl(0, 100%, 13%);
}

div.call-controls > div.dtmf-controls > button.letter:hover {
    background-color: hsl(0, 100%, 24%);
}

div.call-controls > div.call-actions {
    display: flex;
    column-gap: 0.5em;
    width: fit-content;
}

div.call-controls > div.call-actions > button {
    border-radius: 14px;
    border: 0;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 6px 10px;
    font-size: 16px;
    line-height: 16px;
    width: 45px
}

div.call-controls > div.call-actions > button > * {
    display: block;
    width: fit-content;
    height: 16px;
    margin: auto;
}

div.call-controls > div.call-actions > button.drop {
    background-color: hsl(0, 100%, 30%);
}
div.call-controls > div.call-actions > button.drop:hover {
    background-color: hsl(0, 100%, 40%);
}

div.call-controls > div.call-actions > button.mute-toggle {
}
div.call-controls > div.call-actions > button.mute-toggle.unmuted {
    background-color: hsl(132, 100%, 15%);
}
div.call-controls > div.call-actions > button.mute-toggle.unmuted:hover {
    background-color: hsl(132, 100%, 25%);
}

div.call-controls > div.call-actions > button.mute-toggle.muted {
    background-color: hsl(0, 100%, 30%);
}
div.call-controls > div.call-actions > button.mute-toggle.muted:hover {
    background-color: hsl(0, 100%, 40%);
}